@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
}

/*Nova alteração feita no navbar*/
nav{
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-top: 10px 10px;
  padding: 1.5rem 1.5rem;
  background: #ef9651;
  color: white;
}
.btn-nav {
  width: 116px;
  height: 40px;
  border-radius: 12px;
  cursor: pointer;
  border: 10px;
  border-color: white;
  box-shadow: 8px 8px 4px rgba(39, 39, 39, 0.9);
  font-size: 19px;
  transition: transform 0.3s ease;
  margin: 0.2rem;
  font-weight: bold;
  color: #444444;
  font-family: "Fredoka", sans-serif;
  font-weight: 600;
  align-items: center;
  text-align: center;
  background-color: #EFEFEF;
  margin-top: 35px;
}

.btn-nav:hover {
  background-color: #3F7D58;
  color: white;
  transform: scale(1.1);
  box-shadow: 4px 8px 10px rgba(70, 70, 70, 0.9);
}
nav h2 {
  font-weight: bold;
  font-family: "Fredoka", sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  color: #EFEFEF;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid #EFEFEF;
}
@media(max-width: 768px) {
  nav h2 {
  font-family: "Fredoka", sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  color: #EFEFEF;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid #EFEFEF;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  }
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o body ocupe a altura total da tela */
  background-color: #3F7D58;
  margin: 0;
  padding: 0;
}

@media(max-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
}

.title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media(max-width: 768px){
  .title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.title {
  font-family: "Fredoka", sans-serif;
  font-size: 5rem;
  font-weight: 800;
  color: #EFEFEF;
  white-space: nowrap;
  border-right: 4px solid #EFEFEF;
  display: inline-block;
  margin-top: 1.5rem;
}

@media(max-width: 768px){
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5rem;
  }
}

@keyframes typing {
  from {
    width: 0ch;
  }
  to {
    width: 7ch; /* Número de letras */
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* Hover no título */
.title:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

/* Rodapé (footer) */
.site-footer {
  padding: 20px;
  text-align: center;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: white;
  background-color: #EF9651;
  font-size: 1.2rem;
  margin-top: auto; /* Empurra o footer para o final */
}

@media(max-width: 768){
  .site-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
}

.site-footer p {
  margin: 10px 0;
  font-family: "Fredoka", sans-serif;
}

.site-footer a {
  text-decoration: none;
  font-weight: bold;
  margin: 0 10px;
}

.site-footer a[href*="facebook"] { color: #fff; }
.site-footer a[href*="instagram"] { color: #fff; }

button:hover,
.card:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

/*RESPONSIVIDADE TELA INICIAL - NAVBAR - 768px*/
@media(max-width: 768px) {
  nav .logo {
    width: 400px;
  }
  nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
  }
  nav ul .btn-nav {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
  }
  .icone {
    width: 50px;
  }
}

/*RESPONSIVIDADE TELA INICIAL - NAVBAR - 1024px*/
@media(max-width: 1024px) {
  nav .logo {
    width: 400px;
  }
  nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
  }
  nav ul .btn-nav {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
  }
  .icone {
    width: 50px;
  }
}

/*RESPONSIVIDADE TELA INICIAL - NAVBAR - 1200px*/
@media(max-width: 1200px) {
  nav .logo {
    width: 400px;        
  }
  nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  nav ul .btn-nav{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
  }
  .icone {
    width: 50px;
  }
}
/*RESPONSIVIDADE FOOTER - 1200px*/
@media(max-width: 1200px) {
  .site-footer {
    width: 100%;
    max-width: 100%;
  }
}